@charset "utf-8";
/* CSS Document */

body{
	background-color: orange;
}

h2 {
	color:yellow;
	text-decoration: underline wavy 5px purple;
}
h2{
	letter-spacing: 3px;
}
img {
  max-width: 100%;
  height: auto;
}
img:hover {
	border : 25px dotted orange;
}
body{

		list-style-type: none;
	}
	nav{
		width: 100%;
		position: fixed;
		background-color:orange;
		margin: 0;
		padding: 0;
		left: 0;
			
	}
	
	li { 
		display: inline;
		width: 200px;
		padding: 15px;
	}
	li a {
		color: peru;
		text-decoration: none;
	}
	li:hover {
		background-color:blue;
	}
	</style>
