@charset "utf-8";
/* CSS Document */

body{
	background-color: orange;
}

h2 {
	color:yellow;
	text-decoration: underline wavy 5px purple;
}
h2{
	letter-spacing: 3px;
}
img {
  max-width: 100%;
  height: auto;
}
img:hover {
	border : 25px dotted orange;
}
body{
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 15px 30px;
}

.logo{
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li{
    display: inline;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.nav-links a:hover{
    color: #00bfff;
}
