	<style>
	body   {
	background-color: cornflowerblue;
}

h2 { 
	color: black;
text-decoration: underline wavy 5px beige;
} 
	
	
	
img { 
	
width: 300px; 
border: 15px dotted gold; 
border-radius: 50%;
		}
img:hover {
	border:25px dotted yellow;		
		}

	
